<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>New Flight</title>
</head>
<%- include('../partials/header') %>

<form class="new-form" action="/flights" method="POST">
  <label>Airline:
      <select class="entry" name="airline">
        <option value="American">American</option>
        <option value="Southwest">Southwest</option>
        <option value="United">United</option>
      </select>
    </label><br>
  <label>Airport:
    <select class="entry" name="airport">
      <option value="AUS">AUS</option>
      <option value="DFW">DFW</option>
      <option value="DEN">DEN</option>
      <option value="LAX">LAX</option>
      <option value="SAN">SAN</option>
    </select>
  </label><br>
  <label>Flight Number:
    <input class="entry" type="number" name="flightNo">
  </label><br>
  <label>Departs at:
    <input class="entry" type="datetime-local" name="departs">
  </label><br>
  <input class="entry" type="submit" value="Add Flight">
</form>

<%- include('../partials/footer') %>